<%= render 'application/left' %>
<%= render 'application/top' %>
<html>
<head>
  <!-- 引入 echarts.js -->

</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" class="col-md-12" style="height:600px;">



</div>

</body>
<script type="text/javascript">

    var yvalue = new Array();
    var xvalue = new Array();
    var pvvalue = new Array();
    var pvmax;



var lastday=28;
var nowdate = new Date(Date.now());
    var lastdate = nowdate.getFullYear()+'-'+nowdate.getMonth()+'-29';
    if(lastdate)
    {
        lastday=29;
    }
    lastdate = nowdate.getFullYear()+'-'+nowdate.getMonth()+'-30';
    if(lastdate)
    {
        lastday=30;
    }
    lastdate = nowdate.getFullYear()+'-'+nowdate.getMonth()+'-31';
    if(lastdate)
    {
        lastday=31;
    }
    for(var i=0;i<lastday;i++)
    {
        xvalue[i]=i+1;
        pvvalue[i]=0;
    }



    $.ajax({
        type:'get',
        dataType:'json',
        url:'/pvs/getpv',
        success:function(data) {
            $(data).each(function(index,item){
                var tdate=new Date(Date.parse(item.pvdate));
                var tday = tdate.getDate();
                pvvalue[tday]=item.pv;
            });

            myChart.setOption(option);
        },
        error : function() {
        }
    });

    pvmax=Math.max.apply(null, pvvalue);




    $(document).ready(function() {








        $.getJSON('ajax/test.json', function (data) {
            var items = [];

            $.each(data, function (pvdate, pv) {
                items.push('<li id="' + pvdate + '">' + pv + '</li>');
            });

        });

        $(doucment).write("<ul><li>pvdate</li><li> pv </li></ul>")
        $.parseJSON(data).each(function(i){
            doucment.write("<ul><li>"+data[pvdate].a+"</li><li> data[pv].b] </li></ul>")
        })
    });


    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    option = {
        title: {
            text: '访问统计',
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data:['访问量']
        },
        toolbox: {
            show: true,
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                dataView: {readOnly: false},
                magicType: {type: ['line', 'bar']},
                restore: {},
                saveAsImage: {}
            }
        },
        xAxis:  {
            type: 'category',
            boundaryGap: false,
            data: xvalue
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                formatter: '{value}'
            }
        },
        series: [
            {
                name:'访问量',
                type:'line',
                data:pvvalue
            }

        ]
    };


    // 使用刚指定的配置项和数据显示图表。

</script>

</html>