

<div class="statusbar-overlay"></div>
<!-- Panels overlay-->
<div class="panel-overlay"></div>
<div class="panel panel-left panel-reveal" style="background-color: white;">
  <div class="content-block">
    <div class="row">
      <div class="col-auto">
      </div>
    </div>
  </div>
</div>




  <!-- Page, data-page contains page name-->

    <!-- Scrollable page content-->



    <!-- messages-content -->



    <!-- Search bar -->
    <form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init">
      <div class="searchbar-input">
        <input type="search" placeholder="搜索"><a href=<%= new_slider_path %>class="searchbar-clear"></a>
      </div><a href="#" class="searchbar-cancel">取消</a>
    </form>
    <!-- Search bar overlay -->
    <div class="searchbar-overlay"></div>









