<div class="navbar">
  <div class="navbar-inner">
    <div class="left"><a href="#" data-no-turbolink = "true" class="back link"> <i class="icon icon-back"></i><span></span></a></div>
    <div class="center sliding"></div>
    <div class="right">
      <!-- Right link contains only icon - additional "icon-only" class--><a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
    </div>
  </div>
</div>

<div class="pages">
  <!-- Page, data-page contains page name-->
  <div data-page="login" class="page">
    <!-- Scrollable page content-->
    <div class="page-content login-screen-content">
      <div class="login-screen-title">登录</div>
      <div class="list-block">





          <ul>

            <li>
              <div class="item-content">
                <div class="item-media"><i class="fa fa-user"></i></div>
                <div class="item-inner">
                  <div class="item-title label">电话号码</div>
                  <div class="item-input">
                    <input type="tel" placeholder="电话号码" id="login">
                  </div>
                </div>
              </div>
            </li>

            <li>
              <div class="item-content">
                <div class="item-media"><i class="fa fa-key"></i></div>
                <div class="item-inner">
                  <div class="item-title label">密码</div>
                  <div class="item-input">
                    <input type="password" placeholder="密码" id="password">
                  </div>
                </div>
              </div>
            </li>

            <div class="content-block row">
              <input type="button" value="确定" class="button" id="submit">
            </div>

            <% if(params[:id])=="0" %>
                <div class="alert alert-danger">
                  登陆名或密码错误！
                </div>
            <% end %>
            <% if(params[:id])=="1" %>
                <div class="alert alert-danger">
                  用户已停用！
                </div>
            <% end %>



          </ul>




      </div>
</div>

  </div>
</div>