.swiper-slide {
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.swiper-slide span {
    text-align:center;
    display:block;
    margin: 20px;
    font-size:21px;
}
.swiper-container {
    height: 180px;
    margin: 0px 0;
}


.list-block .item-text {
    font-size: 15px;
    color: black;
    line-height: 21px;
    position: relative;
    overflow: hidden;
    height: 42px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.list-block.media-list .myitem-inner,
.list-block li.media-item .myitem-inner {
    display: block;
    padding-top: 10px;
    padding-bottom: 9px;

}